[submodule "tmux"]
	path = tmux
	url = https://github.com/nerap/tmux
[submodule "nvim/harpoon"]
	path = nvim/harpoon
	url = https://github.com/ThePrimeagen/harpoon
	branch = harpoon2
[submodule "nvim/nvim"]
	path = nvim/nvim
	url = https://github.com/nerap/nvim
[submodule "nvim/gitmoji.nvim"]
	path = nvim/gitmoji.nvim
	url = https://github.com/nerap/gitmoji.nvim.git
